# Aplicação
NAME="MyShoPHPingCart"
APP_ENV=development
JWT_SECRET=change_me_in_production

# Banco de Dados (Configuração Geral)
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_NAME=shopping_cart
DB_USER=user
DB_PASS=password
DB_ROOT_PASS=root

# URL de Conexão (Gerada automaticamente ou definida manualmente)
# Se estiver usando Docker, o host deve ser o nome do serviço: 'db'
DATABASE_URL=mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
