<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnAllIssues="true">
    <testsuites>
        <testsuite name="My ShoPHPing Cart Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>